@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

h1, h3, strong {
  color: #374151 !important;
}

.roles {
  justify-content: center !important;
}

.is-nav-title {
  margin-bottom: 0px !important;
}

.is-active-item {
  border-bottom: 4px solid hsl(171, 100%, 41%);
}

.has-gray-text {
  color: #575757 !important;
}

.no-box-shadow {
  box-shadow: none;
}

.is-game-description {
  font-size: 0.9rem;
}